$header_bg: #FCFAF7;
$body_bg: #fff6d1;
$body_bg_two: #eeebe3;
$footer_bg: #F2F2F2;

/*main*/
$main_color:#00a7e5;

/*transparency*/
$main_color_40:#00a7e540;
$main_color_25:#00a7e525;
$white_50:#f2f1f1cc;

/*other*/
$white:#fff;
$grey: grey;
$text_color:#4B4B4B;
$boxShadow:#4b4b4b45;
$modal_bg:#fffbf1;
$btn_bg:#FA9D00;

// copyright
$copyright_bg:#fcfaf7;

$pre_color:#19ba94;
$a1_color:#65871d;
$a2_color:#0d7d67;
$b1_color:#e97f5c;
$b2_color:#fd9b1f;
$c1_color:#418291;
$c2_color:#204d7a;
