body { font-family: 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif; }

/*main*/
/*transparency*/
/*other*/
.main.map-content .map-book-list .book-area .book-item { box-shadow: 1px 1px 5px #4b4b4b45; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 25px; line-height: 1.7; font-weight: bold; }

h3 { font-size: 26px; line-height: 1.7; font-weight: bold; }

h4 { font-size: 20px; line-height: 1.5; font-weight: bold; }

p, svg { font-size: 14px; line-height: 1.7; }

span, th, td, .form-control { font-size: 14px; text-decoration: none; line-height: 1.7; }

a { font-size: 14px; text-decoration: none; line-height: 1.7; }

rt { transform: translateY(-35%); }

input, label { font-size: 14px; line-height: 1.7; }

input[type=file]::file-selector-button { display: none; }

img { width: 100%; }

button { padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

button:disabled { background-color: grey !important; border: 1px solid grey !important; opacity: 0.5; cursor: auto !important; }

button:disabled a { color: #fff !important; cursor: auto; }

*, body { letter-spacing: 1.5px; box-sizing: border-box; }

body { background-color: #fff6d1; }

.cursor { cursor: pointer; }

.icon::before { display: none; }

.icon-solid::before { font: var(--fa-font-solid); }

.icon-regular::before { font: var(--fa-font-regular); }

.icon-light::before { font: var(--fa-font-light); }

.icon-duotone::before { font: var(--fa-font-duotone); }

.icon-brands::before { font: var(--fa-font-brands); }

.text_center { text-align: center; }

::selection { background: #00a7e5; color: #fff; }

@media screen and (min-width: 768px) { h1 { font-size: 32px; }
  h3 { font-size: 27px; }
  h4 { font-size: 21px; }
  p, svg { font-size: 15px; }
  span, th, td, .form-control { font-size: 15px; }
  a { font-size: 15px; }
  input, label { font-size: 15px; } }

@media screen and (min-width: 992px) { h1 { font-size: 35px; }
  h3 { font-size: 29px; }
  h4 { font-size: 23px; }
  p, svg { font-size: 17px; }
  span, th, td, .form-control { font-size: 17px; }
  a { font-size: 17px; }
  input, label { font-size: 17px; } }

@media screen and (min-width: 1200px) { p, svg { font-size: 19px; }
  span, th, td, .form-control { font-size: 19px; }
  a { font-size: 19px; }
  input, label { font-size: 19px; } }

@media screen and (min-width: 1400px) { h1 { font-size: 40px; }
  h3 { font-size: 33px; }
  h4 { font-size: 27px; }
  p, svg { font-size: 20px; }
  span, th, td, .form-control { font-size: 20px; }
  a { font-size: 20px; }
  input, label { font-size: 20px; } }

header { background-color: #FCFAF7; padding: 10px 15px; border-bottom: 2px solid #00a7e5; }

header .header_logo { width: 80%; max-width: 300px; }

@media screen and (min-width: 768px) { header { padding: 20px 15px; } }

.footer { background-color: #F2F2F2; border-top: 2px solid #00a7e5; }

.footer .products { display: flex; align-items: center; flex-direction: column; align-items: flex-start; padding: 20px 5%; }

.footer .products .products-text { margin: 10px 0; }

.footer .products .products-img { display: flex; align-items: center; flex-wrap: wrap; }

.footer .products .products-img .products-link { width: 180px; margin: 10px 30px 10px 0; line-height: 0; }

.footer .footer-copyright { background-color: #fcfaf7; border-top: 1px solid #4B4B4B; padding: 15px 5%; display: flex; justify-content: space-between; }

.footer .footer-copyright p { font-size: 12px; margin: 10px 0; }

.footer .footer-copyright p a { font-size: 12px; }

@media screen and (min-width: 992px) { .footer .products { flex-direction: row; align-items: center; }
  .footer .products .products-text { margin: 0 30px 0 0; }
  .footer .products .products-img .products-link { width: 230px; } }

.main.map-content { max-width: 1200px; width: 80%; position: relative; margin: 80px auto; }

.main.map-content .map-book-list .standard { display: flex; align-items: center; margin: 15px 0; }

.main.map-content .map-book-list .standard .standard_level { background-color: #00a7e5; padding: 5px 10px; border-radius: 10px; margin-right: 10px; color: #fff; }

.main.map-content .map-book-list .standard .standard_level.pre { background-color: #19ba94; }

.main.map-content .map-book-list .standard .standard_level.a1 { background-color: #65871d; }

.main.map-content .map-book-list .standard .standard_level.a2 { background-color: #0d7d67; }

.main.map-content .map-book-list .standard .standard_level.b1 { background-color: #e97f5c; }

.main.map-content .map-book-list .standard .standard_level.b2 { background-color: #fd9b1f; }

.main.map-content .map-book-list .standard .standard_level.c1 { background-color: #418291; }

.main.map-content .map-book-list .standard .standard_level.c2 { background-color: #204d7a; }

.main.map-content .map-book-list .book-area { display: flex; flex-wrap: wrap; }

.main.map-content .map-book-list .book-area .book-item { position: relative; width: calc(33% - 20px); margin: 30px 10px; border-radius: 10px; background-color: #fff; padding: 10px; transform: scale(0.98); }

.main.map-content .map-book-list .book-area .book-item .grade-tag { text-align: center; position: absolute; padding: 5px 10px; border-radius: 10px; color: #fff; bottom: 10px; right: 10px; }

.main.map-content .map-book-list .book-area .book-item .grade-tag p { color: #fff; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.pre { background-color: #19ba94; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.a1 { background-color: #65871d; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.a2 { background-color: #0d7d67; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.b1 { background-color: #e97f5c; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.b2 { background-color: #fd9b1f; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.c1 { background-color: #418291; }

.main.map-content .map-book-list .book-area .book-item .grade-tag.c2 { background-color: #204d7a; }

.main.map-content .map-book-list .book-area .book-item .book-block { position: relative; width: 100%; }

.main.map-content .map-book-list .book-area .book-item .book-block .book-img img { border-radius: 10px; object-fit: cover; width: 100%; height: 100%; }

.main.map-content .map-book-list .book-area .book-item .book-block .audio-icon { background-image: url(../image/photo/svg/sound.svg); background-size: 20px; background-repeat: no-repeat; background-position: center; background-color: #4B4B4Bbf; width: 30px; height: 30px; position: absolute; z-index: 1; right: 0; top: 0; border-radius: 0px 10px 0px 10px; }

.main.map-content .map-book-list .book-area .book-item .book-text { padding-top: 10px; text-align: left; width: 100%; }

.main.map-content .map-book-list .book-area .book-item .book-text .book-title h4 { color: #00a7e5; width: 100%; margin-bottom: 8px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /*!autoprefixer:off*/ -webkit-box-orient: vertical; /* autoprefixer:on */ }

.main.map-content .map-book-list .book-area .book-item:hover { transform: scale(1); }

p { color: #4B4B4B; }

.jquery-modal .modal.book-information-modal { width: 80%; max-width: none; padding: 25px 30px; background: #fffbf1; }

.jquery-modal .modal.book-information-modal .book-introduction .book-item { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }

.jquery-modal .modal.book-information-modal .book-introduction .modal-book-img { position: relative; background-position: center; background-size: cover; width: 250px; height: 250px; border-radius: 16px; }

.jquery-modal .modal.book-information-modal .book-introduction .modal-book-img img { border-radius: 16px; width: 100%; height: 100%; object-fit: cover; }

.jquery-modal .modal.book-information-modal .book-introduction .modal-book-img .audio-icon { background-image: url(../image/photo/svg/sound.svg); background-size: 20px; background-repeat: no-repeat; background-position: center; background-color: #4B4B4Bbf; width: 30px; height: 30px; position: absolute; z-index: 1; right: 0; top: 0; border-radius: 0px 10px 0px 10px; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content { width: calc(95% - 250px); }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .modal-btn ul { display: flex; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .modal-btn ul li { width: 50%; text-align: center; border-bottom: 1px solid; padding: 10px 0px; color: #4B4B4B; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .modal-btn ul li.active { color: #00a7e5; font-weight: bold; border: 1px solid #00a7e5; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item { margin: 30px auto 0px; height: 220px !important; overflow-y: scroll; width: 100%; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item { margin-bottom: 10px; padding: 0 10px; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item.vocabulary { border-top: 1px solid #4B4B4B; margin: 20px auto 0px; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item.vocabulary.active { border-top: 0px solid #4B4B4B; margin: 0px auto 0px; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item .lexical-text { display: flex; align-items: center; flex-wrap: wrap; margin: 10px 0px; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item .lexical-text p:nth-child(1) { display: flex; border: 1px solid #4B4B4B; width: auto; align-items: center; padding: 15px 5px 5px; margin: 5px 3px 5px 0; }

.jquery-modal .modal.book-information-modal .book-introduction .introduction-content .introduction-item .item p { padding: 15px 0; }

.jquery-modal .modal.book-information-modal .book-introduction .button { border-top: 1px solid #4B4B4B; width: 100%; display: flex; justify-content: center; padding: 20px 0px 0px; margin-top: 20px; }

.jquery-modal .modal.book-information-modal .book-introduction .button .read { padding: 10px; background-color: #FA9D00; margin: 0 auto; border-radius: 10px; color: #fff; display: inline-block; min-width: 200px; width: calc(45% - 24px); text-align: center; }

.jquery-modal .modal.book-information-modal .book-introduction .button .read:hover { filter: brightness(0.9); }
